<div class="container">
    <div class="col-xs-12 col-md-6" id="Battle Rifle">
        <div class="ProductTable prod-wrap">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="Image">
                        <img src="../../Assets/M14.png" alt="M14" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="Title">
                        <h5 class="Name">
                                USS M14
                            <a>
                                <span>Battle Rifle</span>
                            </a>
                        </h5>
                        <p class="Price">
                            <span>$188</span>
                        </p>
                    </div>
                    <div class="Details">
                        <p>An excellent Battle Rifle for Desert Skirmish. </p>
                    </div>
                    <div class="InfoPadding">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="../pages/M14Detail.ejs" class="btn btn-info"><span>DETAILS</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 " id="Assault Rifle">
        <div class="ProductTable prod-wrap">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="Image">
                        <img src="../../Assets/FAMAS.png" alt="FAMAS" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="Title">
                        <h5 class="Name">
                                FAMAS
                            <a><span>Assault Rifle</span></a>
                        </h5>
                        <p class="Price">
                            <span>$260</span>
                        </p>
                    </div>
                    <div class="Details">
                        <p>High FPS and Suitable for Indoor Skirmishes.</p>
                    </div>
                    <div class="InfoPadding">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="../pages/FAMASDetail.ejs" class="btn btn-info"><span>DETAILS</span></a>
                            </div>
                            <div class="col-md-12">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6" id="Assault Rifle">
        <div class="ProductTable prod-wrap">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="Image">
                        <img src="../../Assets/SSMCXV.png" alt="VIRTUS SBR" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="Title">
                        <h5 class="Name">
                            SIG Sauer MCX Virtus SBR
                            <a><span>Assault Rifle</span></a>
                        </h5>
                        <p class="Price">
                            <span>$500</span>
                        </p>
                    </div>
                    <div class="Details">
                        <p>Deadly Assault Rifle for Skirmishes.</p>
                    </div>
                    <div class="InfoPadding">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="../pages/SSMCXVDetail.ejs" class="btn btn-info"><span>DETAILS</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6" id="Assault Rifle">
        <div class="ProductTable prod-wrap">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="Image">
                        <img src="../../Assets/SIG%20550.png" alt="SIG 550" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="Title">
                        <h5 class="Name">
                            SIG SG-550
                            <a>
                                <span>Battle Rifle</span>
                            </a>
                        </h5>
                        <p class="Price">
                            <span>$350</span>
                        </p>
                    </div>
                    <div class="Details">
                        <p>Build with higher suppression. </p>
                    </div>
                    <div class="InfoPadding">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="../pages/SIG550Detail.ejs" class="btn btn-info"><span>DETAILS</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6" id="Assault Rifle">
        <div class="ProductTable prod-wrap">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="Image">
                        <img src="../../Assets/AK-47%20Mini%20Draco%20Full%20Upgrade.png" alt="MINI DRACO" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="Title">
                        <h5 class="Name">
                            AK-47 Mini Draco Full Upgrade
                            <a>
                                <span>Assault Rifle</span>
                            </a>
                        </h5>
                        <p class="Price">
                            <span>$255</span>
                        </p>
                    </div>
                    <div class="Details">
                        <p>Awesome stability for Sparring.</p>
                    </div>
                    <div class="InfoPadding">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="../pages/AK47Detail.ejs" class="btn btn-info"><span>DETAILS</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="ProductTable prod-wrap">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="Image">
                        <img src="../../Assets/AK103.png" alt="AK-103" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="Title">
                        <h5 class="Name">
                            AK-103
                            <a>
                                <span>Assault Rifle</span>
                            </a>
                        </h5>
                        <p class="Price">
                            <span>$232</span>
                        </p>
                    </div>
                    <div class="Details">
                        <p>Different feels of using AK. </p>
                    </div>
                    <div class="InfoPadding">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="../pages/AK103Detail.ejs" class="btn btn-info"><span>DETAILS</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="ProductTable prod-wrap">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="Image">
                        <img src="../../Assets/HT64.png" alt="HT64" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="Title">
                        <h5 class="Name">
                            Howa Type-64
                            <a>
                                <span>Assault Rifle</span>
                            </a>
                        </h5>
                        <p class="Price">
                            <span>$355</span>
                        </p>
                    </div>
                    <div class="Details">
                        <p>Replica of AR used by JSDF since Cold War.</p>
                    </div>
                    <div class="InfoPadding">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="../pages/HT64Detail.ejs" class="btn btn-info"><span>DETAILS</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="ProductTable prod-wrap">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="Image">
                        <img src="../../Assets/HT89.png" alt="HT89" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="Title">
                        <h5 class="Name">
                            Howa Type-89
                            <a>
                                <span>Assault Rifle</span>
                            </a>
                        </h5>
                        <p class="Price">
                            <span>$455</span>
                        </p>
                    </div>
                    <div class="Details">
                        <p>Type-64 Successor made for JSDF used since Iraq.</p>
                    </div>
                    <div class="InfoPadding">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="../pages/HT89Detail.ejs" class="btn btn-info"><span>DETAILS</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="ProductTable prod-wrap">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="Image">
                        <img src="../../Assets/HT20.png" alt="HT20" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="Title">
                        <h5 class="Name">
                            Howa Type-20
                            <a>
                                <span>Assault Rifle</span>
                            </a>
                        </h5>
                        <p class="Price">
                            <span>$611</span>
                        </p>
                    </div>
                    <div class="Details">
                        <p>The newest version of Howa Assault Rifle.</p>
                    </div>
                    <div class="InfoPadding">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="../pages/HT20Detail.ejs" class="btn btn-info"><span>DETAILS</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="ProductTable prod-wrap">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="Image">
                        <img src="../../Assets/FNSCAR.png" alt="FN-SCAR" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="Title">
                        <h5 class="Name">
                            FN-SCAR
                            <a>
                                <span>Assault Rifle</span>
                            </a>
                        </h5>
                        <p class="Price">
                            <span>$349</span>
                        </p>
                    </div>
                    <div class="Details">
                        <p>USS Navy Seal standard High caliber Assault Rifle.</p>
                    </div>
                    <div class="InfoPadding">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="../pages/FNSCARDetail.ejs" class="btn btn-info"><span>DETAILS</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="ProductTable prod-wrap">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="Image">
                        <img src="../../Assets/H&K416.png" alt="H&K416" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="Title">
                        <h5 class="Name">
                            Heckler & Koch HK-416
                            <a>
                                <span>Assault Rifle</span>
                            </a>
                        </h5>
                        <p class="Price">
                            <span>$288</span>
                        </p>
                    </div>
                    <div class="Details">
                        <p>Powerful as the original Assault Rifle with outstanding BB capacity. </p>
                    </div>
                    <div class="InfoPadding">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="../pages/HK416Detail.ejs" class="btn btn-info"><span>DETAILS</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="ProductTable prod-wrap">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="Image">
                        <img src="../../Assets/H&KG36.png" alt="H&KG36" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="Title">
                        <h5 class="Name">
                            Heckler & Koch G-36
                            <a>
                                <span>Assault Rifle</span>
                            </a>
                        </h5>
                        <p class="Price">
                            <span>$325</span>
                        </p>
                    </div>
                    <div class="Details">
                        <p>Tired of using the 416 and having more funds? Try this out. </p>
                    </div>
                    <div class="InfoPadding">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="../pages/HKG36Detail.ejs" class="btn btn-info"><span>DETAILS</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>