<footer class="Footer" style="margin-top: 50px">
    <img src="../../Assets/IcyRaven.png" style="text-align: left; margin-right: 900px; width: 5%">
    <img src="../../Assets/Logo1.png" style="text-align: right; width: 5%">
    <p>Copyright© Icy Raven Claw Foundation 2021. All Rights Reserved.</p>
</footer>