 <link rel="stylesheet" href="../../css/NavBar.css">
    <div id="Sidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="NavItem" href="/Stock">Stock</a>
        <a class="NavItem" href="/History">History</a>
        <a class="NavItem" href="/Report">Reports</a>
    </div>
<div class="NavBar" id="navBar">
    <% var state;%>
    <% var type;%>
    <% var st;%>
            <a <% if(state === "Home") { %> class="active" <% } %> class="NavItem" href="/">Home</a>
    <% if(state === "product") { %>
        <a class="active nav-link dropdown-toggle NavItem" id="navbardrop" data-toggle="dropdown">Product
                <div class="dropdown-menu">
                    <a class="dropdown-item NavItem" id="change2">Handgun</a>
                    <a class="dropdown-item NavItem" id="change4">Rifle</a>
                    <a class="dropdown-item NavItem" id="change1">Assault Rifle</a>
                    <a class="dropdown-item NavItem" id="change3">Sub-Machine Gun</a>
                    <a class="dropdown-item NavItem" id="change5">All Products</a>
                </div>
            </a>
        <% } else if(state === "detail") { %>
        <a class="active NavItem" href="/Product">Product</a>
        <% } else { %>
        <a class="NavItem" href="/Product">Product</a>
    <% } %>
            <a <% if(state === "Order") { %> class="active" <% } %> class="NavItem" href="/Order">Order</a>
            <a <% if(state === "About") { %> class="active" <% } %>class="NavItem" href="/about">About</a>
    <% if(type === "V1") { %>
            <button class="openbtn" onclick="openNav()">PoS</button>
    <% } %>
            <a href="javascript:void(0);" class="icon" onclick="ResFunc()">
                <i class="fa fa-bars"></i>
            </a>
    </div>