<link rel="stylesheet" href="../../css/NavBar.css">
<div class="NavBar" id="navBar">
    <a class="NavItem" href="/">Home</a>
        <a class="active nav-link dropdown-toggle NavItem" id="navbardrop" data-toggle="dropdown">Product
            <div class="dropdown-menu">
                <a class="dropdown-item NavItem" id="change2">Handgun</a>
                <a class="dropdown-item NavItem" id="change4">Rifle</a>
                <a class="dropdown-item NavItem" id="change1">Assault Rifle</a>
                <a class="dropdown-item NavItem" id="change3">Sub-Machine Gun</a>
                <a class="dropdown-item NavItem" id="change5">All Products</a>
            </div>
        </a>
    <a class="NavItem" href="/Order">Order</a>
    <a class="NavItem" href="/about">About</a>
</div>