.bg-color
{
    background-color: #18191d;
}
.Logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
card a img:hover{
    opacity: 0.5;
    transition: 2.5s;
}

.Font
{
    font-family: Comfortaa, sans-serif;
    color: #25dbca;
}

.Font2
{
    font-family: Comfortaa, sans-serif;
    color: #f1edec;
}

.Footer {
    width: 100%;
    background-color: #282e33;
    color: #f1edec;
    font-family: Montserrat, sans-serif;
}
.Footer p{
    text-align: center;
    padding-bottom: 20px;
}
.responsive {
    width:75%;
    height: auto;
}
.NA
{
    margin-top: 60px;
    color: #f1edec;
    text-align: center;
    font-size: 48px;
    letter-spacing: 15px;
    font-family: Montserrat SemiBold, sans-serif;
}

.card a :hover{
    opacity: 0.5;
    transition: 0.25s;
}

@media screen and (max-width: 600px) {
    .NavBar a:not(:first-child) {display: none;}
    .NavBar a.icon {
        float: right;
        display: block;
    }
}


@media screen and (max-width: 600px) {
    .NavBar.responsive {position: relative;}
    .NavBar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .NavBar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .Footer.responsive {position: relative;}
    .Footer.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .Footer.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}