.card {
    transition: 0.3s;
    border-radius: 5px;
}

.container {
    padding: 2px 16px;
}

img {
    margin-left: 90px;
    margin-top: 60px;
    margin-bottom: 30px;
    border-radius: 12px 12px 12px 12px;
}
