<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AK-47 Mini Draco Full Upgrade Product Detail</title>
    <%- include('../layouts/header.ejs'); %>
    <link rel="stylesheet" href="../../css/Detail%20Page%20StyleSheet.css">
    <script src=../../js/Responsive.js></script>
</head>
<body class="bg-color">
<div class="Logo">
    <img src= ../../Assets/Logo.png alt="Logo" class="responsive">
</div>
<%- include('../layouts/navbar.ejs', {state: 'detail'}); %>
<div class="container bg-color">
        <div class="container-fluid">
            <div class="wrapper row">
                <div class="preview bg-color2 col-md-6">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="../../Assets/AK-47%20Mini%20Draco%20Full%20Upgrade.png" /></div>
                    </div>
                    <ul class="preview-thumbnail">
                        <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="../../Assets/Sashimi.gif"/></a></li>
                    </ul>
                </div>
                <div class="preview col-md-6 bg-color3">
                    <h3 class="product-title">AK-47 Mini Draco Full Upgrade</h3>
                    <div class="rating">
                        <span class="review-no">Assault Rifle</span>
                    </div>
                    <p class="product-description">
                        If you're Intermediate Airsoft Gunner, then you might like this new CYMA Sportline series. Offered gun in 1:1 scale, has an attractive appearance and does nto look different from more expensive models. The main difference is the use of plastic to some external parts. This significantly reduce the price. Next advantage is also lower weight and therefore easier movement with the gun. It is designed for younger players, beginners or just those who want a electrically driven gun for the lowest price.
                    </p>
                    <p class="product-description">
                        <span>Manufacturer:</span> CYMA
                    <p class="product-description">
                        <span>Length:</span> 870mm
                    </p>
                    <p class="product-description">
                        <span>Type:</span> AEG Airsoft
                    </p>
                    <p class="product-description">
                        <span>Magazine Rounds:</span> 150 BB
                    </p>
                    <p class="product-description">
                        <span>FPS Range:</span> 410
                    </p>
                    <h2 class="price">Price: <span>$255</span></h2>
                    <div class="action">
                        <a href="/Order" class="btn btn-info" type="button">Order</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<footer class="Footer">
    <img src="../../Assets/IcyRaven.png" style="text-align: left; margin-right: 1200px; width: 5%">
    <img src="../../Assets/Logo1.png" style="text-align: right; width: 5%">
    <p>Copyright© Icy Raven Claw Foundation 2021. All Rights Reserved.</p>
</footer>
</body>
</html>