<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assault Rifle Product List</title>
    <link rel="shortcut icon" href="../../Assets/Logo2.ico"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Montserrat:wght@500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../css/ProductStylesheet.css">
    <script src=../../js/Responsive.js></script>
</head>

<div class="Logo">
    <img src= ../../Assets/Logo.png alt="Logo" class="responsive">
</div>
<body class="bg-color">
<div class="NavBar" id="navBar">
    <a href="index.ejs">Home</a>
    <a class="active nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Product
        <div class="dropdown-menu">
            <a class="dropdown-item" href="HGProduct.ejs">Handgun</a>
            <a class="dropdown-item" href="RProduct.ejs">Rifle</a>
            <a class="active dropdown-item">Assault Rifle</a>
            <a class="dropdown-item" href="SMGProduct.ejs">Sub-Machine Gun</a>
        </div>
    </a>
    <a href="Order.ejs">Order</a>
    <a href="About.ejs">About</a>
    <a href="javascript:void(0);" class="icon" onclick="ResFunc()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<div class="container">
    <div class="col-xs-12 col-md-6">
        <div class="ProductTable prod-wrap">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="Image">
                        <img src="../../Assets/M14.png" alt="M14" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="Title">
                        <h5 class="Name">
                                USS M14
                            <a>
                                <span>Battle Rifle</span>
                            </a>
                        </h5>
                        <p class="Price">
                            <span>$188</span>
                        </p>
                    </div>
                    <div class="Details">
                        <p>An excellent Battle Rifle for Desert Skirmish. </p>
                    </div>
                    <div class="InfoPadding">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="M14Detail.ejs" class="btn btn-info"><span>DETAILS</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="ProductTable prod-wrap">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="Image">
                        <img src="../../Assets/FAMAS.png" alt="FAMAS" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="Title">
                        <h5 class="Name">
                                FAMAS
                            <a><span>Assault Rifle</span></a>
                        </h5>
                        <p class="Price">
                            <span>$260</span>
                        </p>
                    </div>
                    <div class="Details">
                        <p>High FPS and Suitable for Indoor Skirmishes.</p>
                    </div>
                    <div class="InfoPadding">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="FAMASDetail.ejs" class="btn btn-info"><span>DETAILS</span></a>
                            </div>
                            <div class="col-md-12">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="ProductTable prod-wrap">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="Image">
                        <img src="../../Assets/SSMCXV.png" alt="VIRTUS SBR" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="Title">
                        <h5 class="Name">
                            SIG Sauer MCX Virtus SBR
                            <a><span>Assault Rifle</span></a>
                        </h5>
                        <p class="Price">
                            <span>$500</span>
                        </p>
                    </div>
                    <div class="Details">
                        <p>Deadly Assault Rifle for Skirmishes.</p>
                    </div>
                    <div class="InfoPadding">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="SSMCXVDetail.ejs" class="btn btn-info"><span>DETAILS</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="ProductTable prod-wrap">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="Image">
                        <img src="../../Assets/SIG%20550.png" alt="SIG 550" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="Title">
                        <h5 class="Name">
                            SIG SG-550
                            <a>
                                <span>Battle Rifle</span>
                            </a>
                        </h5>
                        <p class="Price">
                            <span>$350</span>
                        </p>
                    </div>
                    <div class="Details">
                        <p>Build with higher suppression. </p>
                    </div>
                    <div class="InfoPadding">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="SIG550Detail.ejs" class="btn btn-info"><span>DETAILS</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="ProductTable prod-wrap">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="Image">
                        <img src="../../Assets/AK-47%20Mini%20Draco%20Full%20Upgrade.png" alt="MINI DRACO" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="Title">
                        <h5 class="Name">
                            AK-47 Mini Draco Full Upgrade
                            <a>
                                <span>Assault Rifle</span>
                            </a>
                        </h5>
                        <p class="Price">
                            <span>$255</span>
                        </p>
                    </div>
                    <div class="Details">
                        <p>Awesome stability for Sparring.</p>
                    </div>
                    <div class="InfoPadding">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="AK47Detail.ejs" class="btn btn-info"><span>DETAILS</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="ProductTable prod-wrap">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="Image">
                        <img src="../../Assets/AK103.png" alt="AK-103" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="Title">
                        <h5 class="Name">
                            AK-103
                            <a>
                                <span>Assault Rifle</span>
                            </a>
                        </h5>
                        <p class="Price">
                            <span>$232</span>
                        </p>
                    </div>
                    <div class="Details">
                        <p>Different feels of using AK. </p>
                    </div>
                    <div class="InfoPadding">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="AK103Detail.ejs" class="btn btn-info"><span>DETAILS</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="ProductTable prod-wrap">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="Image">
                        <img src="../../Assets/HT64.png" alt="HT64" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="Title">
                        <h5 class="Name">
                            Howa Type-64
                            <a>
                                <span>Assault Rifle</span>
                            </a>
                        </h5>
                        <p class="Price">
                            <span>$355</span>
                        </p>
                    </div>
                    <div class="Details">
                        <p>Replica of AR used by JSDF since Cold War.</p>
                    </div>
                    <div class="InfoPadding">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="HT64Detail.ejs" class="btn btn-info"><span>DETAILS</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="ProductTable prod-wrap">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="Image">
                        <img src="../../Assets/HT89.png" alt="HT89" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="Title">
                        <h5 class="Name">
                            Howa Type-89
                            <a>
                                <span>Assault Rifle</span>
                            </a>
                        </h5>
                        <p class="Price">
                            <span>$455</span>
                        </p>
                    </div>
                    <div class="Details">
                        <p>Type-64 Successor made for JSDF used since Iraq.</p>
                    </div>
                    <div class="InfoPadding">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="HT89Detail.ejs" class="btn btn-info"><span>DETAILS</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="ProductTable prod-wrap">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="Image">
                        <img src="../../Assets/HT20.png" alt="HT20" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="Title">
                        <h5 class="Name">
                            Howa Type-20
                            <a>
                                <span>Assault Rifle</span>
                            </a>
                        </h5>
                        <p class="Price">
                            <span>$611</span>
                        </p>
                    </div>
                    <div class="Details">
                        <p>The newest version of Howa Assault Rifle.</p>
                    </div>
                    <div class="InfoPadding">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="HT20Detail.ejs" class="btn btn-info"><span>DETAILS</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="ProductTable prod-wrap">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="Image">
                        <img src="../../Assets/FNSCAR.png" alt="FN-SCAR" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="Title">
                        <h5 class="Name">
                            FN-SCAR
                            <a>
                                <span>Assault Rifle</span>
                            </a>
                        </h5>
                        <p class="Price">
                            <span>$349</span>
                        </p>
                    </div>
                    <div class="Details">
                        <p>USS Navy Seal standard High caliber Assault Rifle.</p>
                    </div>
                    <div class="InfoPadding">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="FNSCARDetail.ejs" class="btn btn-info"><span>DETAILS</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="ProductTable prod-wrap">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="Image">
                        <img src="../../Assets/H&K416.png" alt="H&K416" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="Title">
                        <h5 class="Name">
                            Heckler & Koch HK-416
                            <a>
                                <span>Assault Rifle</span>
                            </a>
                        </h5>
                        <p class="Price">
                            <span>$288</span>
                        </p>
                    </div>
                    <div class="Details">
                        <p>Powerful as the original Assault Rifle with outstanding BB capacity. </p>
                    </div>
                    <div class="InfoPadding">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="HK416Detail.ejs" class="btn btn-info"><span>DETAILS</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="ProductTable prod-wrap">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="Image">
                        <img src="../../Assets/H&KG36.png" alt="H&KG36" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="Title">
                        <h5 class="Name">
                            Heckler & Koch G-36
                            <a>
                                <span>Assault Rifle</span>
                            </a>
                        </h5>
                        <p class="Price">
                            <span>$325</span>
                        </p>
                    </div>
                    <div class="Details">
                        <p>Tired of using the 416 and having more funds? Try this out. </p>
                    </div>
                    <div class="InfoPadding">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="HKG36Detail.ejs" class="btn btn-info"><span>DETAILS</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="Footer">
    <img src="../../Assets/IcyRaven.png" style="text-align: left; margin-right: 1200px; width: 5%">
    <img src="../../Assets/Logo1.png" style="text-align: right; width: 5%">
    <p>Copyright© Icy Raven Claw Foundation 2021. All Rights Reserved.</p>
</footer>
</body>
</html>