<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FN P-90 Product Detail</title>
    <%- include('../layouts/header.ejs'); %>
    <link rel="stylesheet" href="../../css/Detail%20Page%20StyleSheet.css">
    <script src=../../js/Responsive.js></script>
</head>
<body class="bg-color">
<div class="Logo">
    <img src= ../../Assets/Logo.png alt="Logo" class="responsive">
</div>
<%- include('../layouts/navbar.ejs', {state: 'detail'}); %>
<div class="container bg-color">
        <div class="container-fluid">
            <div class="wrapper row">
                <div class="preview bg-color2 col-md-6">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="../../Assets/FNP90.png" /></div>
                    </div>
                </div>
                <div class="preview col-md-6 bg-color3">
                    <h3 class="product-title">FN P-90</h3>
                    <div class="rating">
                        <span class="review-no">Sub-Machine Gun</span>
                    </div>
                    <p class="product-description">
                        While the Tokyo Marui P90 guns have been around since the beginning of time in the Asian market, their availability has been limited/restricted due to licensing and importation issues; however through Evike.com and partners, the tried and true rifles are now finally going to be readily available state-side.
                        </p>
                    <p class="product-description">
                        <span>Manufacturer:</span> Tokyo Marui
                    </p>
                    <p class="product-description">
                        <span>Length:</span> 500mm
                    </p>
                    <p class="product-description">
                        <span>Type:</span> AEG Airsoft
                    </p>
                    <p class="product-description">
                        <span>Magazine Rounds:</span> 330 BB
                    </p>
                    <p class="product-description">
                        <span>FPS Range:</span> 265
                    </p>
                    <h2 class="price">Price: <span>$325</span></h2>
                    <div class="action">
                        <a href="/Order" class="btn btn-info" type="button">Order</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<footer class="Footer">
    <img src="../../Assets/IcyRaven.png" style="text-align: left; margin-right: 1200px; width: 5%">
    <img src="../../Assets/Logo1.png" style="text-align: right; width: 5%">
    <p>Copyright© Icy Raven Claw Foundation 2021. All Rights Reserved.</p>
</footer>
</body>
</html>