<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heckler & Koch HK-416 Product Detail</title>
    <%- include('../layouts/header.ejs'); %>
    <link rel="stylesheet" href="../../css/Detail%20Page%20StyleSheet.css">
    <script src=../../js/Responsive.js></script>
</head>
<body class="bg-color">
<div class="Logo">
    <img src= ../../Assets/Logo.png alt="Logo" class="responsive">
</div>
<%- include('../layouts/navbar.ejs', {state: 'detail'}); %>
<div class="container bg-color">
        <div class="container-fluid">
            <div class="wrapper row">
                <div class="preview bg-color2 col-md-6">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="../../Assets/H&K416.png" /></div>
                    </div>
                </div>
                <div class="preview col-md-6 bg-color3">
                    <h3 class="product-title">Heckler & Koch HK-416</h3>
                    <div class="rating">
                        <span class="review-no">Assault Rifle</span>
                    </div>
                    <p class="product-description">
                        The HK 416 A5 AEG is a licensed, authentic replica of the real 416 A5 rifle made by world renowned firearms manufacturer Heckler & Koch. Favored by Special Forces for its Over The Beach (OTB) capability and remarkable reliability, the H&K 416 is a proven weapons platform that features all the improvements of a modern rifle coupled with the familiarity of a proven weapons system.
                        </p>
                    <p class="product-description">
                        <span>Manufacturer:</span> Umarex
                    </p>
                    <p class="product-description">
                        <span>Length:</span> 720mm - 800mm (Adjustable)
                    </p>
                    <p class="product-description">
                        <span>Type:</span> AEG Airsoft
                    </p>
                    <p class="product-description">
                        <span>Magazine Rounds:</span> 130 BB
                    </p>
                    <p class="product-description">
                        <span>FPS Range:</span> 360-365
                    </p>
                    <h2 class="price">Price: <span>$288</span></h2>
                    <div class="action">
                        <a href="/Order" class="btn btn-info" type="button">Order</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<footer class="Footer">
    <img src="../../Assets/IcyRaven.png" style="text-align: left; margin-right: 1200px; width: 5%">
    <img src="../../Assets/Logo1.png" style="text-align: right; width: 5%">
    <p>Copyright© Icy Raven Claw Foundation 2021. All Rights Reserved.</p>
</footer>
</body>
</html>