.bg-color
{
    background-color: #18191d;
}
.bg-color2
{
    background-color: #282e33;
    border-radius: 12px;
}
.bg-color3{
    background: #435969;
}

.Logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.NavBar {
    background-color: #282e33;
    font-family: Comfortaa, sans-serif;
    overflow: hidden;
}

.NavBar a {
    float: left;
    color: #f1edec;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.dropdown-menu{
    background-color: #282e33;
    border-radius: 12px;
}

.NavBar a:hover {
    background-color: #18191b;
    color: #25dbca;
}

.NavBar a.active {
    background-color: rgba(24, 25, 29, 0.7);
    color: #25dbca;
}
.NavBar .icon {
    display: none;
}
.action{
    margin-bottom: 100px;
}
.container-fluid{
    margin-top: 100px;
    padding-top: 20px;
    background-color: #282e33;
    border-radius: 12px;
    margin-bottom: 100px;
}
.product-title{
    color: #25dbca;
    font-family: Montserrat SemiBold, sans-serif;
    background: #435969;
    padding-top: 20px;
}
.rating{
    color: #f1edec;
    font-family: Montserrat SemiBold, sans-serif;
    font-size: 17px;
}
body {
    font-family: Comfortaa, sans-serif; }

img {
    max-width: 100%; }
.card{
    background-color: #282e33;
    border-radius: 12px;
}

.btn-info
{
    background: #24d6c5;
    border-radius: 6px;
    -moz-border-radius:6px;
    font-family: Comfortaa, sans-serif;
    font-size: 20px;
    position: relative;
    color: #f1edec;
    border:1px solid transparent;
    transition: all 0.40s ease 0s;
}
.btn-info:after
{
    position: absolute;
    right: 6px;
    top: -4px;
    opacity: 0;
    color: #f5f5f5;
    transition: all 0.40s ease 0s;
}

.price{
    font-family: Montserrat SemiBold, sans-serif;
    color: #f1edec;
}
.product-description{
    font-family: Montserrat, sans-serif;
    color: #f1edec;
    font-size: 13px;
}
.product-description span{
    font-family: Montserrat SemiBold, sans-serif;
    font-size: 15px;
}
.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-direction: column;
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px; } }

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
.preview-thumbnail img{
    width: 75%;
    margin-right: 100px;
    margin-top: 25px;
    border-radius: 12px;
}
.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
    background: #282e33;
    color: #282e33;
}
.preview-thumbnail.nav-tabs li
{
    width: 50%;
    margin-right: 5%;
    margin-bottom: 50px;
    background: #282e33;
    color: #282e33;
}
.preview-thumbnail.nav-tabs li img {
    background: #282e33;
    max-width: 100%;
    border-radius: 12px;
    color: #282e33;
}
.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
    background: #282e33;
}
.preview-thumbnail.nav-tabs li:last-of-type {
    background: #282e33;
    margin-right: 0; }

.tab-content {
    overflow: hidden; }
.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s; }

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }
@media screen and (max-width: 600px) {
    .NavBar a:not(:first-child) {display: none;}
    .NavBar a.icon {
        float: right;
        display: block;
    }
}


@media screen and (max-width: 600px) {
    .NavBar.responsive {position: relative;}
    .NavBar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .NavBar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

.colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.product-title, .price, .sizes, .colors
{
    text-transform: UPPERCASE;
    font-weight: bold;
}

.checked, .price span
{
    color: #25dbca;
    font-family: Comfortaa, sans-serif
}

.product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }

.product-title {
    margin-top: 0; }



.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
.color:first-of-type {
    margin-left: 20px; }


.tooltip-inner {
    padding: 1.3em; }

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3); }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); } }

@keyframes opacity {
    0% {
opacity: 0;
-webkit-transform: scale(3);
transform: scale(3); }
100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }
