.bg-color
{
    background-color: #18191d;
}
.Logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.Font
{
    font-family: Comfortaa, sans-serif;
    color: #25dbca;
}

.Font2
{
    font-family: Comfortaa, sans-serif;
    color: #f1edec;
}

.responsive {
    width:75%;
    height: auto;
}

.NavBar {
    background-color: #282e33;;
    font-family: Comfortaa, sans-serif;
    overflow: hidden;
}

.NavBar a {
    float: left;
    color: #f1edec;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.dropdown-menu{
    background-color: #282e33;
    border-radius: 12px;
}

.NavBar a:hover {
    background-color: #18191b;
    color: #25dbca;
}

.NavBar a.active {
    background-color: rgba(24, 25, 29, 0.7);
    color: #25dbca;
}
.NavBar .icon {
    display: none;
}

.NA
{
    margin-top: 60px;
    color: #f1edec;
    text-align: center;
    font-size: 48px;
    letter-spacing: 15px;
    font-family: Montserrat SemiBold, sans-serif;
}

@media screen and (max-width: 600px) {
    .NavBar a:not(:first-child) {display: none;}
    .NavBar a.icon {
        float: right;
        display: block;
    }
}


@media screen and (max-width: 600px) {
    .NavBar.responsive {position: relative;}
    .NavBar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .NavBar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}